@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

:root{
    --main-color: #FF6347;
    --secondary-color: #4682B4;
    --main-bg-color: #FFFAFA;
    --main-btn-color: #008080;
}
body.dark{
    background-color: #333;
    color: white;
}
body{
    /* background-color: var(--main-bg-color); */
    /* background-image: url('https://img.freepik.com/free-photo/composition-cinema-elements-beige-background_23-2148416815.jpg?w=900&t=st=1692247590~exp=1692248190~hmac=8123d756f07751a0d927f949ccf63463bbbc00bf05d48985cdb1104793446615');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    backdrop-filter: blur(0.3rem);
    background-blend-mode: color-burn ; */
    overflow-x: hidden;
}

.modal{
    width: 25rem; 
    height: 30rem; 
    /* border: 1px solid red;  */
    border-radius: 0.5rem;
    background-color: #333;
    opacity: 0.9;
    position: fixed; 
    top:50%; left: 50%;
    transform: translate(-50%,-50%); 
    z-index: 10;
    display: none;
}
.modal .img{
    width: 30%;
    /* height: 30%; */
    /* border: 1px solid white; */
    margin: 1rem auto;
}
.modal .img img{
    width: 100%;
    object-fit: cover;
}
.modal .detail{
    /* border: 1px solid red; */
    margin: 1rem;
    color: white;
    height: 50%;
    overflow-y: scroll;
}
.modal .detail::-webkit-scrollbar{
    display: none;
}
.modal .detail h3{
    font-size: 1.2rem;
    text-align: center;
}
.modal .detail p:nth-of-type(1){
    font-size: 0.8rem;
    text-align: end;
    color: #999;
    margin: 0.5rem;
}

header .navbar .logo a{
    text-decoration: none;
    color: var(--main-color);
}
footer{
    /* display: none; */
    position: sticky;
    bottom: -20rem;
    z-index: 5;
}

/* to top button */
.to-top div{
    /* border: 1px solid red; */
    text-align: end;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    z-index: 10;
}
.to-top div button{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #008080;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.to-top div button:hover{
    transform: scale(1.05);
}

/* 검색창 */
main{
    /* border: 2px solid yellowgreen; */
    width: 100%;
    padding-top: 3rem;
    z-index: 0;
}
main .search-container{
    /* border: 1px solid red; */
    min-height: 650px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
main .search-container .search-bar{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}
main .search-container .search-bar input{
    width: 15rem;
    height: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: none;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
}
main .search-container .search-bar button{
    border: 2px solid #FF6347;
    width: 5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--main-color);
    cursor: pointer;
}
main .search-container .search-bar button:hover{
    background-color: #ff745c;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
main .search-container .result-container{
    /* border: 1px solid red; */
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .search-container .result-container .result-item{
    margin: 0.5rem;
    /* border: 1px solid green; */
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    flex: 1;
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
    z-index: 5;
}
main .search-container .result-container .result-item.dark{
    box-shadow: 0 0 0.3rem rgba(189, 189, 189, 0.5);
}
main .search-container .result-container .result-item:hover{
    transform: scale(1.01);
}
main .search-container .result-container .result-item .item-img{
    width: 70%;
    height: 70%;
    background-color: #999;
    margin: 0.5rem auto;
}
main .search-container .result-container .result-item .item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
main .search-container .result-container .result-item .item-detail{
    /* border: 1px solid red; */
    margin-top: 0.5rem;
    text-align: center;
}
main .search-container .result-container .result-item .item-detail h3{
    margin: 0.3rem 0;
}
main .search-container .result-container .result-item .item-detail p{
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    color: #333;
}
main .search-container .result-container .result-item .item-detail p.dark{
    color: white;
}